/* ENCABEZADOS*/
header.main-header{
    text-align: center;
    background-color: burlywood;
}

/* DIV MENU*/

/* LINKs - FORMATOS*/
a:hover{
    background-color: rgb(109, 109, 240);
    color: white !important;
    font-size: larger;
    text-decoration: none;
    cursor: pointer;
  }
  a:active{
      background: deeppink;
      text-decoration: none;
  }
  a:visited{
      color: black;
      text-decoration: none;
  }
  a:link{
    color:blue;
    text-decoration: none;
  }

#menu{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    height: 40px; 
    align-items: center; 
    
    }
/* BOTONES - FORMATOS*/
.btn-primary{
    margin: 10px;
    padding: 3px 15px;
    flex:1 !important;
    border: 1px black groove ;
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

h3{
    margin:10px 5px;
    text-align: left;
    font-family: cursive;
    font-size: 40px;
}
body{
    background-image: url("../img/lemonpie_bg.jpg");
    /* Aplica imagen de fondo. background-repeat: no-repeat(Para que no se repita la imagen) */
    background-size: 10px 10px;
    background-attachment: fixed;
    /*background: linear-gradient(to bottom, red, white);
    aplica un pase de color gradual del rojo al blanco, desde arriba hacia abajo*/
    font-family: serif;
    color: black, inherit;
    font-size: 20px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}
span{
    font-size: 20px;
}
